<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Discord Stat Tracker</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>

<body>
	<%- include('partials/header', {home: home}); %>

	<a id="login" href=<%- url %>>
		<img src="/images/discord-logo.svg" alt="" width="50" height="30">
		<span>Login With Discord</span>
	</a>
</body>

</html>